.nav {
  grid-area: navbar;
  background: #212121;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.item {
  font-size: 16px;
  margin-left: 16px;
  height: 48px;
  margin: 0;
  padding: 0;
  height: 48px;
}

.item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  height: 32px;
  width: 256px;
}

.item:hover {
  background-color: #292929;
}

.active {
  background: linear-gradient(270deg, #dab75c 0%, #9d8754 100%);
}
