.nav {
  grid-area: navbar;
  background: #212121;
}

.dropdownBtn {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  height: 48px;
}

.dropdownContainer {
  background-color: #292929;
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.item {
  font-size: 16px;
  margin-left: 16px;
  height: 48px;
  margin: 0;
  padding: 0;
  height: 48px;
}

.item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  height: 32px;
}

.item:hover {
  background-color: #292929;
}

.active {
  background: linear-gradient(270deg, #dab75c 0%, #9d8754 100%);
  border-radius: 0px 10px 10px 0px;
}
