.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-columns: 256px 1fr;
  grid-template-areas: 'header header' 'navbar content';
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #000000;
  color: #e3cc8a;
}
