.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 56px 1fr;
  grid-template-columns: 2fr 13fr;
  grid-template-areas: 'n h' 'n c';
  width: 1664px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #000000;
  color: #e3cc8a;
}
